.avantages {
    background-color: var(--color-bg-secondary);
    height: 100%;
    padding-bottom: var(--spacing-xl);

    h2 {
        padding-top: var(--spacing-xl);
        color: white;
        span {
            color: var(--color-primary);
        }
    }

    p {
        color: var(--color-white);
        font-family: var(--font-secondary);
        font-size: var(--font-size-pbig);
        line-height: 120%;
    }

    .avantages-card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .grid--avantages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        article {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .icon--avantages {
            color: var(--color-primary);
        }
    }
}
