.cards {
    transform: translateX(20%);

    .card {
        border-radius: 20px;
        overflow: hidden;

        .card_media {
            width: 467px;
            height: 486px;
            overflow: hidden;
            display: block;
            object-fit: cover;
            @media screen and (max-width: $breakpoint-md) {
                width: 267px;
                height: 286px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                width: 167px;
                height: 186px;
            }

            img {
                display: block;
                transition: all 0.3s ease-in-out;
                width: 467px;
                height: 486px;
                object-fit: cover;
                @media screen and (max-width: $breakpoint-md) {
                    width: 267px;
                    height: 286px;
                }
                @media screen and (max-width: $breakpoint-sm) {
                    width: 167px;
                    height: 186px;
                }
            }
        }

        .card_content {
            border: 1px var(--color-bg-primary) solid;
            padding: var(--spacing-md);
            background-color: #f9f8f8;
            color: var(--color-black);
            z-index: 1;
            opacity: 0;
            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: $breakpoint-lg) {
                padding: 20px;
            }
            @media screen and (max-width: $breakpoint-md) {
                padding: 10px;
            }

            .date {
                text-align: end;
                margin: 0;
            }
            h4 {
                margin: 0;
                font-weight: bolder;
                font-size: 28px;
            }
            .card_text {
                font-size: 22px;
                font-family: 'Roboto';
                color: var(--color-primary-light);
                margin: 0;
                width: 17vw;
            }
        }

        &:hover {
            text-decoration: none;
            .card_media {
                overflow: hidden;

                img {
                    transform: scale(1.2);
                    transition: all 0.5s ease-in-out;
                }
            }

            .card_content {
                color: var(--color-primary-light);
            }
        }
    }
}
