footer {
    background-color: #03306c;
    height: 100%;
    padding: 100px 0;

    .wrapper {
        .footer_sega {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 160px;
            .image_logo_footer {
                height: 100%;

                object-fit: cover;
            }
        }

        .infos_footer {
            padding-top: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 36px;
        }
    }
}
