header {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 104px;
    padding: 50px;

    transition: transform 0.4s $ease-out-expo;

    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(-100%) translateY(4px);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            color: var(--color-primary);
            z-index: 6;
            display: flex;
            align-items: center;
            transition: all 0.5s $ease-out-expo;
            &:hover {
                transform: scale(1.1);
                transition: all 0.5s $ease-out-expo;
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;
            color: var(--color-white);
            align-items: center;
            margin: 0;
            list-style: none;
            gap: 32px;
            font-weight: bold;
            padding: 0;
            z-index: 3;
            transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
            @media screen and (max-width: $breakpoint-md) {
                display: none;
            }

            .nav-is-active & {
                background-color: var(--color-white);
                position: absolute;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100%;
                padding-top: var(--header-height);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow-y: auto;

                transform: scale(1);
                opacity: 1;
                transition: all 1.5s $ease-out-expo;
                li {
                    transition: all 400ms 510ms;

                    .nav-item {
                        font-size: var(--font-size-nav-mobile-link);
                    }
                }
            }

            .nav-item {
                text-decoration: none;
                color: var(--color-nav);
                font-size: var(--font-size-nav-link);
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        .hamburger {
            --bar-height: 8px;
            --bar-width: var(--spacing-lg);
            --bar-spacer: 6px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0;
            position: relative;
            width: var(--bar-width);
            height: var(--bar-width);
            z-index: 10;
            display: none;

            @media screen and (max-width: $breakpoint-md) {
                display: block;
            }

            .bar {
                background-color: var(--color-primary);
                border-radius: 3px;
                height: var(--bar-height);
                width: 100%;
                position: absolute;
                top: calc(50% - var(--bar-height) / 2);
                left: calc(50% - var(--bar-width) / 2);
                transition: 0.3s all ease-out;
                &:nth-child(1) {
                    top: calc(
                        50% - var(--bar-height) / 2 - var(--bar-height) -
                            var(--bar-spacer)
                    );
                }
                &:nth-child(3) {
                    top: calc(
                        50% - var(--bar-height) / 2 + var(--bar-height) +
                            var(--bar-spacer)
                    );
                }
            }
            .nav-is-active & {
                .bar {
                    top: calc(50% - var(--bar-height) / 2);
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: scaleX(0);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
