.jeux {
    height: 898px;
    display: flex;
    position: relative;

    .swiper_jeux_images {
        height: 100%;
        width: 100%;
        position: absolute;
        img {
            width: 100vw;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    .jeux_content {
        z-index: 2;
    }

    .info_jeux {
        padding: var(--spacing-sm) 0 32px 0;
        width: 35vw;
        color: var(--color-white);
        .jeux_slogan {
            font-size: var(--font-size-h2);
            margin: 0;
            padding: 24px 0;
        }
        .jeux_texte {
            font-size: 28px;
            margin: 0;
            padding-bottom: 12px;
        }
        h1 {
            @media screen and (max-width: 1050px) {
                width: 70vw;
            }
            @media screen and (max-width: $breakpoint-sm) {
                width: 95vw;
            }
        }
    }
}

.jeux_contact {
    .info_jeux {
        h1 {
            width: 47vw;
            @media screen and (max-width: $breakpoint-sm) {
                width: 90vw !important;
            }
        }
        p {
            color: var(--color-primary-light);
        }
    }
}
