.photos {
    height: 100%;
    padding: var(--spacing-xl) !important;

    h2 {
        font-size: var(--font-size-h2);
        font-family: var(--font-primary);
    }

    .grid--photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        p {
            font-family: var(--font-secondary);
            font-size: var(--font-size-p);
            color: var(--color-black);
            margin: 0;
        }
    }

    .grid--photos--detail {
        img {
            object-fit: cover;
            width: 350px;
            height: 350px;
            border-radius: 20px;
        }
    }
}
