.presentation {
    height: 100%;
    width: 100%;
    background-color: #00259f;
    padding-top: 82px;
    color: var(--color-white);
    position: relative;
    .titre_presentation {
        padding: 0 0 50px 80px;
        width: 10vw;
    }
    .image_pres {
        display: block;
        height: 100%;
        object-fit: cover;
    }

    .background_image_presentation {
        position: absolute;
        top: 14.5%;
        left: 24%;
        z-index: 1;
    }

    .presentation_sega {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: $breakpoint-md) {
            gap: 100px;
        }
        p {
            padding-top: 15px;
            width: 28vw;
            @media screen and (max-width: $breakpoint-md) {
                width: 40vw;
            }
        }

        .segadbs_contenu {
            width: 40vw;
            z-index: 2;

            h2 {
                width: 25vw;
            }
            .sega_texte {
                padding: 32px 0;
                width: 28vw;
            }
        }
    }
}
