.reseaux-sociaux {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 16px;
    list-style: none;
    padding: 0;
    .nav-icon {
        background-color: var(--color-gray-background);
        border-radius: 50%;
        padding: var(--spacing-sm);
        display: flex;
        align-items: center;
        justify-content: center;

        background-size: 100% 220%;
        background-image: linear-gradient(
            to bottom,
            rgba($color: #fff, $alpha: 0.1) 50%,
            var(--color-black) 50%
        );
        -webkit-transition: background-position 1s;
        -moz-transition: background-position 1s;
        transition: background-position 1s;
        svg {
            color: var(--color-bleu-dark);
        }
        &:hover {
            background-position: 0 -90%;
            color: var(--color-white);
            border-radius: 50%;
            svg {
                color: white;
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        display: none;
    }
}

.reseaux-sociaux-mobile {
    display: none;
    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        gap: 16px;
        list-style: none;
        padding: 0;
        .nav-icon {
            background-color: var(--color-white);
            border-radius: 50%;
            padding: var(--spacing-xs);
            display: flex;
            align-items: center;
            justify-content: center;

            background-size: 100% 220%;
            background-image: linear-gradient(
                to bottom,
                rgba($color: #fff, $alpha: 0.1) 50%,
                var(--color-primary) 50%
            );
            -webkit-transition: background-position 1s;
            -moz-transition: background-position 1s;
            transition: background-position 1s;

            &:hover {
                background-position: 0 -90%;
                color: var(--color-white);
                border-radius: 50%;
            }
        }
        svg {
            color: var(--color-black);
        }
    }
}
