.tourisme {
    padding: 100px 0;
    height: 100%;
    text-align: center;
    background-color: #f9f8f8;
    .offres {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 33px 0 var(--spacing-lg);
        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        .offre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
    }
}
