/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    width: calc(100% - var(--spacing-xxl));
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-lg) {
        width: calc(100% - var(--spacing-xxl));
    }
    @media screen and (max-width: 1225px) {
        width: calc(100% - var(--spacing-xl));
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: calc(100% - var(--spacing-lg));
    }
}
