/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #0084b8;
    --color-secondary: #fd6f00;
    --color-primary-light: #00b5ff;
    --color-bg-primary: #e2e2e2;

    --color-gray-background: #eff6f1;
    --color-bleu-dark: #274c5b;
}
