/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Segoe UI', sans-serif;
    --font-secondary: 'Yellowtail', monospace;

    --font-size-content: #{typo(16px, 18px)};
    --font-size-nav-link: #{typo(14px, 18px)};
    --font-size-nav-mobile-link: #{typo(24px, 36px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(48px, 64px)};
    --font-size-h2: #{typo(24px, 42px)};
    --font-size-h3: #{typo(20px, 32px)};
    --font-size-h4: #{typo(20px, 28px)};
}
