{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <img src="assets/images/marioodysseyhero.jpg" alt="" />
    <div class="wrapper">
        <h1>Super Mario Odyssey</h1>
    </div>
</section>

<!-- DETAILS -->
<section class="details">
    <div class="wrapper">
        <div class="grid--details">
            <article class="article__spacing">
                <h2>Une nouvelle aventure</h2>
                <h3>
                    Mario et Cappy récupèrent un vaisseau abandonné, l'Odyssée, et voyagent de pays en pays à la poursuite de Bowser. Dans la majorité des
                    mondes, ils doivent combattre les Broodals, une bande de lapins anthropomorphiques organisateurs de mariage qui essaie de les empêcher de
                    rattraper Bowser et d'arrêter le mariage.
                </h3>
                <p class="info">
                    L'histoire de Super Mario Odyssey suit notre héros emblématique, Mario, dans une aventure épique pour sauver la princesse Peach des griffes
                    du méchant Bowser. Cependant, ce n'est pas une simple histoire de sauvetage. Le twist dans cet opus est l'introduction du Cappy, une
                    créature en forme de chapeau possédant d'incroyables pouvoirs. Mario et Cappy forment une équipe improbable alors qu'ils voyagent à travers
                    différents royaumes dans une version améliorée de l'emblématique vaisseau Odyssey, afin de contrecarrer les plans de mariage de Bowser et de
                    récupérer des objets précieux connus sous le nom de "Lunes de Puissance".
                </p>
            </article>
            <article>
                <div class="group">
                    <h4>DÉVELOPPEUR</h4>
                    <p>Nintendo</p>
                </div>

                <div class="group">
                    <h4>GENRE</h4>
                    <p>Action, aventure</p>
                </div>

                <div class="group">
                    <h4>DATE DE SORTIE</h4>
                    <p>27 octobre 2017</p>
                </div>

                <div class="group">
                    <h4>CLASSEMENT</h4>
                    <ul class="etoiles">
                        <li>
                            <div class="icon--etoiles">
                                <svg class="icon icon--sm">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="icon--etoiles">
                                <svg class="icon icon--sm">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="icon--etoiles">
                                <svg class="icon icon--sm">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="icon--etoiles">
                                <svg class="icon icon--sm">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="icon--etoiles">
                                <svg class="icon icon--sm">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- PHOTOS-->
<section class="photos">
    <div class="wrapper">
        <h2>Galerie photos</h2>
        <div class="grid--photos grid--photos--detail">
            <article>
                <img src="assets/images/marioodyssey1.jpg" alt="" />
                <p>Pourra-t-il survivre ?</p>
            </article>
            <article>
                <img src="assets/images/marioodyssey2.jpg" alt="" />
                <p>Un jeu époustouflant !</p>
            </article>
            <article>
                <img src="assets/images/marioodyssey3.jpg" alt="" />
                <p>Arrivera-t-il à le vaincre ?</p>
            </article>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
