{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="hero_media swiper swiper_hero" data-component="Carousel" data-autoplay>
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/gifs/videobackgroundhero1.gif" alt="" /></div>
            <div class="swiper-slide"><img src="assets/gifs/videobackgroundhero2.gif" alt="" /></div>
            <div class="swiper-slide"><img src="assets/images/imagebackgroudhero1.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="assets/images/imagebackgroundhero2.jpg" alt="" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h2 data-scrolly="fromBottom">SEGA DBS</h2>

                <h3 class="hero_slogan">Un petit coté rétro</h3>
                <p class="hero_texte">Plongez dans l'action avec la révolutionnaire Sega DBS, pour une expérience de jeu sans précédent.</p>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton" data-scrolly="fromLeft">Au prix de 89,99$</a>
        </div>
    </div>
</section>

<section class="presentation">
    <h1 class="titre_presentation">PRÉSENTATION</h1>
    <div class="presentation_sega">
        <article>
            <img class="image_pres" src="assets/images/imagepresentation.png" alt="presentationimagedbs" />
        </article>
        <article class="segadbs_contenu">
            <h2 data-scrolly="fromBottom">SEGA DBS</h2>
            <div class="sega_texte">
                <h2>Un voyage nostalgique</h2>
                <p>
                    Plongez dans l'aventure : Découvrez une collection captivante de jeux d'acarde immersifs offrant une expérience de jeu inégalée sur SEGA
                    DBS. Revivez les jeux de votre enfance comme si vous y étiez vraiment.
                </p>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_presentation" data-scrolly="fromLeft">
                Achetez maintenant
            </a>
        </article>
    </div>
    <img class="background_image_presentation" src="assets/images/image_fond_presentation.jpg" alt="backgroundforme" />
</section>

<section class="infos">
    <img class="fond_motif" src="assets/images/fontdesignmotif.jpg" alt="" />
    <div class="wrapper">
        <h1>DESIGN</h1>
        <div class="grid_design">
            <article>
                <img src="assets/images/imageconsole1.png" alt="imageconsole1" />
                <h3>Petit</h3>
                <p>La console Sega DBS, a taille réduite cache un monde de performances exceptionnelles, offrant un plaisir inégalée dans un format mince.</p>
            </article>
            <article>
                <img src="assets/images/imageconsole2.png" alt="imageconsole2" />
                <h3>Simple</h3>
                <p>
                    Découvrez la simplicité élevée au rang d'art avec la console Sega DBS. Dotée d'une interface conviviale et d'une expérience de jeu
                    intuitive.
                </p>
            </article>
            <article>
                <img src="assets/images/imageconsole3.png" alt="imageconsole3" />
                <h3>Fun</h3>
                <p>Plongez dans l'univers du divertissement pur avec la console Sega DBS, où le plaisir est au cœur de l'expérience de jeu.</p>
            </article>
        </div>
    </div>
</section>

<section class="jeux">
    <div class="swiper-jeux swiper" data-component="Carousel" data-autoplay>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper_jeux_images"><img src="assets/images/jeux1.jpg" alt="" /></div>
                <h1 class="titre_jeux">JEUX</h1>
                <div class="jeux_content">
                    <div class="info_jeux">
                        <h1 data-scrolly="fromBottom">Sonic the Hedgehog (1991)</h1>

                        <h3 class="jeux_slogan">Le retour d'un classique</h3>
                        <p class="jeux_texte">
                            Sorti en 1991, Sonic the Hedgehog a révolutionné l'univers des jeux vidéo avec son personnage emblématique et son gameplay
                            palpitant. En incarnant le célèbre hérisson bleu, les joueurs s'élancent à travers des niveaux sensationnels, défiant la vitesse et
                            l'action tout en affrontant le méchant emblématique, le Dr Robotnik.
                        </p>
                    </div>

                    <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_caroussel" data-scrolly="fromLeft">
                        Plus de détails
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper_jeux_images"><img src="assets/images/jeux2.jpg" alt="" /></div>
                <h1 class="titre_jeux">JEUX</h1>
                <div class="jeux_content">
                    <div class="info_jeux">
                        <h1 data-scrolly="fromBottom">Mortal Kombat II (1993)</h1>

                        <h3 class="jeux_slogan">Les classiques du combat</h3>
                        <p class="jeux_texte">
                            Après sa défaite, Shang Tsung supplie son maître, Shao Kahn, d'épargner sa vie. Il lui dit que l'invitation pour le tournoi Mortal
                            Kombat ne peut être refusée, et que si le tournoi a lieu dans l'Outre Monde, les guerriers du Royaume de la Terre doivent être
                            présents.
                        </p>
                    </div>

                    <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_caroussel" data-scrolly="fromLeft">
                        Plus de détails
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper_jeux_images"><img src="assets/images/jeux3.jpg" alt="" /></div>
                <h1 class="titre_jeux">JEUX</h1>
                <div class="jeux_content">
                    <div class="info_jeux">
                        <h1 data-scrolly="fromBottom">Sonic 3 & Knuckles (1994)</h1>

                        <h3 class="jeux_slogan">Amusez-vous entre amis</h3>
                        <p class="jeux_texte">
                            L'Œuf de la Mort, tout juste reconstruit, est retombé sur le volcan de Angel Island après la défaite d'Eggman, ici à l'aide des gaz
                            chauds du volcan. Knuckles tente encore d'entraver la progression de Sonic puis s'engage dans une confrontation directe contre le
                            hérisson. Eggman dérobe la très puissante Émeraude-mère au nez de l'échidné qui rejoint alors Sonic pour l'aider à vaincre le savant
                            fou.
                        </p>
                    </div>

                    <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_caroussel" data-scrolly="fromLeft">
                        Plus de détails
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper_jeux_images"><img src="assets/images/jeux4.jpg" alt="" /></div>
                <h1 class="titre_jeux">JEUX</h1>
                <div class="jeux_content">
                    <div class="info_jeux">
                        <h1 data-scrolly="fromBottom">Castlevania: Bloodlines (1994)</h1>

                        <h3 class="jeux_slogan">La chasse aux vampires</h3>
                        <p class="jeux_texte">
                            En 1914 eu lieu l'attentat de Sarajevo, événement qui déclencha la Première Guerre mondiale. Mais ce que tout le monde ignorait,
                            c'est qu'une personne tirait toutes les ficelles dans un but bien précis. Il s'agit d'Élisabeth Bartley, une vampire qui fut
                            exécutée au xve siècle pour avoir bu le sang de 800 jeunes filles afin de préserver sa beauté. Retrouver la et parvenez a la
                            détruire.
                        </p>
                    </div>

                    <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_caroussel" data-scrolly="fromLeft">
                        Plus de détails
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="caracteristiques">
    <div class="grid_caracteristiques">
        <article>
            <img class="images_caracteristique" src="assets/images/imagecract1.jpg" alt="" />
        </article>
        <article class="infos_caracteristiques">
            <img src="assets/images/background_infos.jpg" alt="" class="background_infos" />
            <h3>Fonctionnalité</h3>
            <p class="texte_caracteristiques">
                Explorez la nostalgie et redécouvrez le frisson de l'esthétique arcade authentique dans le confort de votre foyer, avec des fonctionnalités de
                jeu spécialement conçues pour capturer l'essence des jeux classiques.
            </p>
        </article>
        <article class="infos_caracteristiques">
            <img src="assets/images/background_infos.jpg" alt="" class="background_infos" />
            <h3>Croquis</h3>
            <p class="texte_caracteristiques">
                Voici différent croquis qui montre la conception de cette console et les différents prototypes conçu pour donner le meilleur rendu possible a
                celle-ci.
            </p>
        </article>
        <article><img class="images_caracteristique" src="assets/images/imagecract2.jpg" alt="" /></article>

        <article><img class="images_caracteristique" src="assets/images/imagecract3.jpg" alt="" /></article>
        <article class="infos_caracteristiques">
            <img src="assets/images/background_infos.jpg" alt="" class="background_infos" />
            <h3>Inspiration</h3>
            <p class="texte_caracteristiques">
                Cette console prend en inspiration les vielles consoles de l'époques comme la NES et elle s'inspire énormément des arcades de l'époque en
                essayant de reproduire cette esthétique si nostalgique a certain.
            </p>
        </article>
    </div>
</section>

{% include "_partials/_footer.html" %}
