{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="hero_media swiper" data-component="Carousel" data-autoplay>
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/gifs/videobackgroundhero1.gif" alt="" /></div>
            <div class="swiper-slide"><img src="assets/gifs/videobackgroundhero2.gif" alt="" /></div>
            <div class="swiper-slide"><img src="assets/images/imagebackgroudhero1.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="assets/images/imagebackgroundhero2.jpg" alt="" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h2 data-scrolly="fromBottom">SEGA DBS</h2>

                <h3 class="hero_slogan">Un petit coté rétro</h3>
                <p class="hero_texte">Plongez dans l'action avec la révolutionnaire Sega DBS, pour une expérience de jeu sans précédent.</p>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton" data-scrolly="fromLeft">Au prix de 89,99$</a>
        </div>
    </div>
</section>

<section class="presentation">
    <h1 class="titre_presentation">PRÉSENTATION</h1>
    <div class="presentation_sega">
        <article>
            <img class="image_pres" src="assets/images/imagepresentation.png" alt="presentationimagedbs" />
        </article>
        <article class="segadbs_contenu">
            <h1 data-scrolly="fromBottom">SEGA DBS</h1>
            <div class="sega_texte">
                <h2>Un voyage nostalgique</h2>
                <p>
                    Plongez dans l'aventure : Découvrez une collection captivante de jeux d'acarde immersifs offrant une expérience de jeu inégalée sur SEGA
                    DBS. Revivez les jeux de votre enfance comme si vous y étiez vraiment.
                </p>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_presentation" data-scrolly="fromLeft">
                ACHEZTEZ MAINTENANT
            </a>
        </article>
    </div>
    <img class="background_image_presentation" src="assets/images/backgroundpresentation.png" alt="backgroundforme" />
</section>

<section class="infos">
    <img class="fond_motif" src="assets/images/fontdesignmotif.jpg" alt="" />
    <div class="wrapper">
        <h1>DESIGN</h1>
        <div class="grid_design">
            <article>
                <img src="assets/images/imageconsole1.png" alt="imageconsole1" />
                <h3>Petit</h3>
                <p>La console Sega DBS, a taille réduite cache un monde de performances exceptionnelles, offrant un plaisir inégalée dans un format mince.</p>
            </article>
            <article>
                <img src="assets/images/imageconsole2.png" alt="imageconsole2" />
                <h3>Simple</h3>
                <p>
                    Découvrez la simplicité élevée au rang d'art avec la console Sega DBS. Dotée d'une interface conviviale et d'une expérience de jeu
                    intuitive.
                </p>
            </article>
            <article>
                <img src="assets/images/imageconsole3.png" alt="imageconsole3" />
                <h3>Fun</h3>
                <p>Plongez dans l'univers du divertissement pur avec la console Sega DBS, où le plaisir est au cœur de l'expérience de jeu.</p>
            </article>
        </div>
    </div>
</section>

<section class="jeux">
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_jeux">
                <h2 data-scrolly="fromBottom">SEGA DBS</h2>

                <h3 class="hero_slogan">Un petit coté rétro</h3>
                <p class="hero_texte">Plongez dans l'action avec la révolutionnaire Sega DBS, pour une expérience de jeu sans précédent.</p>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton" data-scrolly="fromLeft">Au prix de 89,99$</a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
