{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="hero_media swiper" data-component="Carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/images/carousel1.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="assets/images/carousel2.jpg" alt="" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <p>Baie Ste-Catherine</p>
                <h1 data-scrolly="fromBottom">Capitale de la zénitude et des baleines</h1>
            </div>

            <a href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton" data-scrolly="fromLeft">
                Découvrer les activités

                <svg class="icon icon--sm icone-fleche">
                    <use xlink:href="#icon-fleche"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="actu">
    <div class="wrapper">
        <div class="titre-section">
            <h3 data-scrolly="fromTop" class="titre-actu">Actualités</h3>
            <h2 data-scrolly="fromRight" class="entete-section">Les dernières nouvelles</h2>
        </div>

        <div class="cards cards--actu swiper swiper-actu" data-component="Carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="card">
                        <a href="contact.html">
                            <div class="card_media"><img src="assets/images/carousel_actu1.jpg" alt="" /></div>
                            <div class="card_content">
                                <p class="date">15 MARS 2024</p>
                                <h4>Communiqué</h4>
                                <p class="card_text">Une attente qui en valait la peine ...</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="card">
                        <a href="contact.html">
                            <div class="card_media"><img src="assets/images/carousel_actu2.jpg" alt="" /></div>
                            <div class="card_content">
                                <p class="date">19 MARS 2024</p>
                                <h4>Joyeuses pâques!</h4>
                                <p class="card_text">Veuillez prendre note que ...</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="card">
                        <a href="contact.html">
                            <div class="card_media"><img src="assets/images/carousel_actu3.jpg" alt="" /></div>
                            <div class="card_content">
                                <p class="date">28 MARS 2024</p>
                                <h4>Avis public</h4>
                                <p class="card_text">Dépôt du 2e projet de règlement ...</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="card">
                        <a href="contact.html">
                            <div class="card_media"><img src="assets/images/carousel_actu4.jpg" alt="" /></div>
                            <div class="card_content">
                                <p class="date">30 MARS 2024</p>
                                <h4>Avis public</h4>
                                <p class="card_text">Dépôt du 2e projet de règlement ...</p>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <a data-scrolly="fromBottom" href="https://www.baiestecatherine.com/loisirs-et-plein-air" target="_blank" class="bouton bouton_caroussel">
            Découvrer les activités

            <svg class="icon icon--xs icone-fleche">
                <use xlink:href="#icon-fleche"></use>
            </svg>
        </a>
    </div>
</section>

<section class="infos">
    <div class="wrapper">
        <div class="info infos_histoire">
            <img src="assets/images/image_histoire.jpg" alt="histoire" data-scrolly="fade" />
            <div class="card_info" data-scrolly="rotate">
                <h3>Histoire</h3>
                <h2>Anse Ste-Catherine</h2>
                <p>
                    Baie-Sainte-Catherine fut d'abord appelée l'Anse à la Catherine, en rappel du naufrage du vaisseau La Catherine qui, au soir d'une tempête
                    le 27 novembre 1686, alla s'échouer dans cette anse à l'entrée du Saguenay.
                    <span>
                        Ce village est connu depuis plus d'un siècle par une traverse régulière qui relie les deux rives du Saguenay, de sorte qu'il est le
                        passage obligé pour tous ceux qui veulent aller sur la Côte Nord ou en sortir. Ce fut en premier lieu un village industriel. William
                        Price en 1843 y construisit un moulin à scie sur la première chute de la rivière aux Canards.
                    </span>
                </p>
            </div>
        </div>
        <div class="info infos_mission">
            <div class="card_info" data-scrolly="rotate">
                <h3>Mission</h3>
                <h2>Comté de Saguenay</h2>
                <p>
                    Comté de Saguenay. Diocèse de Chicoutimi. La mission de Saint-Firmin est assez ancienne. Les premiers colons, qui venaient de la Malbaie,
                    s'y établirent vers 1820. Une chapelle y fut construite en 1875. Elle fut desservie jusqu'en 1901 par les curés et missionnaires de
                    Tadoussac. Un curé y réside depuis 1901, année de l'ouverture des registres de la paroisse.
                    <span>
                        La desserte de Saint-Firmin comprend le canton de Saguenay, lequel fut organisé en municipalité sous le nom de «Saint-Firmin», le 4
                        novembre 1903, par arrêté-en-Conseil. Ce territoire faisait auparavant partie de la municipalité de Tadoussac.
                    </span>
                </p>
            </div>
            <img src="assets/images/img_mission.jpg" alt="histoire" data-scrolly="fade" />
        </div>
    </div>
</section>

<section class="tourisme">
    <div class="wrapper">
        <h3>Tourisme</h3>
        <h2>Ce que nous pouvons offrir</h2>
        <div class="offres">
            <div class="offre">
                <img src="assets/images/fleuve.jpg" alt="fleuve" data-scrolly="fromRight" />
                <h4>Fleuve</h4>
            </div>
            <div class="offre">
                <img src="assets/images/evenement.jpg" alt="evenement" data-scrolly="scale" />
                <h4>Événements</h4>
            </div>
            <div class="offre">
                <img src="assets/images/panorama.jpg" alt="panorama" data-scrolly="scale" />
                <h4>Panorama</h4>
            </div>
            <div class="offre">
                <img src="assets/images/paix.jpg" alt="paix" data-scrolly="fade" />
                <h4>La paix</h4>
            </div>
        </div>

        <a data-scrolly="fromBottom" href="" class="bouton">
            Découvrer les activités

            <svg class="icon icon--xs icone-fleche">
                <use xlink:href="#icon-fleche"></use>
            </svg>
        </a>
    </div>
</section>

{% include "_partials/_footer.html" %}
