{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero hero_jeux">
    <div class="hero_media"><img src="assets/images/sonichero.jpg" alt="" /></div>

    <div class="wrapper">
        <h1>Sonic the Edgehog</h1>
    </div>
</section>

<!-- DETAILS -->
<section class="details">
    <div class="wrapper">
        <div class="grid--details">
            <article class="details_jeux1">
                <h2 class="titre_details_jeux">Une nouvelle aventure</h2>
                <p class="infos_jeux">
                    Dr Ivo Robotnik, le scientifique fou, capture d'innocents animaux et en fait de maléfiques robots. Seul un héros tenace pourra mettre fin au
                    dessein diabolique du dément scientifique. C'est Sonic, un hérisson bleu capable de courir à la vitesse du son, qui tentera de l'arrêter
                    dans sa base secrète et sauvera tous les animaux de l'île de South Island.
                </p>
                <p class="info">
                    Le jeu Sonic the Hedgehog sorti en 1991 est un jeu de plateforme développé par Sega pour la console Sega Genesis (ou Mega Drive en dehors de
                    l'Amérique du Nord). L'histoire du jeu est assez simple mais efficace : Sonic, un hérisson bleu rapide, doit empêcher le maléfique Dr. Ivo
                    Robotnik (aussi connu sous le nom de Dr. Eggman) de capturer les animaux de l'île South Island et de les transformer en robots esclaves.
                    Pour ce faire, Sonic doit traverser plusieurs zones remplies d'obstacles, d'ennemis robotisés, et de pièges. L'objectif principal de Sonic
                    est de collecter les Chaos Emeralds, des pierres mystiques qui détiennent un grand pouvoir. Si Robotnik réussit à mettre la main sur ces
                    émeraudes, il pourra dominer le monde. Sonic doit donc non seulement sauver les animaux, mais aussi empêcher Robotnik de réaliser ses plans.
                    Le jeu est devenu un succès mondial, propulsant Sonic au rang d'icône du jeu vidéo et faisant de lui la mascotte de Sega.
                </p>
            </article>
            <article class="details_jeux2">
                <div class="infos_notes">
                    <div class="group">
                        <h4>DÉVELOPPEUR</h4>
                        <p>Nintendo</p>
                    </div>

                    <div class="group">
                        <h4>GENRE</h4>
                        <p>Action, aventure</p>
                    </div>

                    <div class="group">
                        <h4>DATE DE SORTIE</h4>
                        <p>26 juillet 1991</p>
                    </div>

                    <div class="group">
                        <h4>CLASSEMENT</h4>
                        <ul class="etoiles">
                            <li>
                                <div class="icon--etoiles">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                </div>
                            </li>
                            <li>
                                <div class="icon--etoiles">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                </div>
                            </li>
                            <li>
                                <div class="icon--etoiles">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                </div>
                            </li>
                            <li>
                                <div class="icon--etoiles">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                </div>
                            </li>
                            <li>
                                <div class="icon--etoiles">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- PHOTOS-->
<section class="video_jeux">
    <div class="hero_media swiper" data-component="Carousel" data-autoplay>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="video" data-component="Youtube" data-video-id="gjDanVVS5EI" data-rel>
                    <div class="video__media js-youtube">
                        <img data-scrolly="fromRight" class="js-poster" src="assets/images/sonictheedgehog1.jpg" alt="Walter" />
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="video" data-component="Youtube" data-video-id="Gsa_4s3CjmI" data-rel>
                    <div class="video__media js-youtube">
                        <img data-scrolly="fromRight" class="js-poster" src="assets/images/sonictheedgehog2.jpg" alt="Walter" />
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="video" data-component="Youtube" data-video-id="Avlop-STMss" data-rel>
                    <div class="video__media js-youtube">
                        <img data-scrolly="fromRight" class="js-poster" src="assets/images/sonicthedgehog3.png" alt="Walter" />
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <div class="wrapper">
        <div class="hero_content"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
